.mainContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  margin-bottom: 5%;
}

.title {
  margin-bottom: 50px;
  color: #58575C;
}

form {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 50%;
}

.mat-form-field-appearance-outline {
  --mdc-outlined-text-field-container-shape: 16px !important;
}

.mat-form-field-appearance-fill {
  --mdc-filled-text-field-container-shape: 20px !important;
}
