<div class="mainContainer">
  <div class="textContainer">
    <img src="assets/test.svg" class="testImage" alt="imagem de teste">
    <h1>Testes com <span class="spanColor">angular</span></h1>
  </div>
  <div class="divider"></div>
  <div class="buttonsContainer">
    <div *ngFor="let item of navButtons;">
      <button mat-stroked-button class="mat-primary navigation-button"
              [ngStyle]="{'--bottom-button-margin': navButtons.length > 1 && navButtons.indexOf(item) != navButtons.length - 1 ? '10px' : '0px'}"
              (click)="item.onClick()">
        {{ item.text }}
      </button>
    </div>
  </div>
</div>
