:root {
  --bottom-button-margin: 0px;
}

.mainContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 50px;
  justify-content: center;
  height: 90vh;
  box-shadow:  1px 1px 1px #d9d9d9,
  -1px -1px 1px #e7e7e7;
  border-radius: var(--largeRadius);
  background-color: white;
}
.buttonsContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  height: 100vh;
  align-content: center;
  justify-content: center;
}
.textContainer {
  width: 100%;
  align-items: center;
  text-align: center;
  font-size: large;
}
.spanColor {
  color: transparent;
  font-size: xxx-large;
  background-clip: text;
  background-image: linear-gradient(to right, #67daf9, var(--primaryColor));
}
.divider {
  background-color: var(--primaryColor);
  opacity: 50%;
  width: 1px;
  height: 50vh;
}

button {
  width: 80%;
  height: 80px;
  border-radius: var(--defaultRadius);
  font-size: x-large;
  margin-bottom: var(--bottom-button-margin, 0px);
}

button:hover {
  background-color: var(--primaryColor);
  transition: 0.5s;
  color: white;
  border: 0;
}

.testImage {
  width: 40%;
  align-self: center;
}

@media(max-width: 900px) {
  button {
    width: 80%;
  }
  .mainContainer {
    flex-direction: column;
  }
  .divider {
    visibility: collapse;
    height: 5vh;
  }
}



